<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Find a quiz</title>
  <link href="./styles.css" rel="stylesheet" type="text/css" />
</head>
<body>
  <div class="container">
    <h1>Online Quiz</h1>
    <p>Pre assessment test</h1>
    <div class="quizzes">
      <% quizzes.forEach(quiz => { %>
        <a href="./quiz?name=<%- quiz.slug %>"><button><%= quiz.title %></button></a>
      <% }) %>
    </div>
  </div>
</body>
</html>