<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f0f2f5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100vh;
            margin: 0;
        }

        form {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }

        h1 {
            text-align: center;
            color: #1877f2; /* Facebook blue color */
        }

        input[type="text"],
        input[type="password"],
        input[type="submit"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ddd;
            border-radius: 4px;
            box-sizing: border-box;
        }

        input[type="submit"] {
            background-color: #1877f2; /* Facebook blue color */
            color: #fff;
            cursor: pointer;
        }

        input[type="submit"]:hover {
            background-color: #1467c1; /* Darker shade on hover */
        }
    </style>
</head>
<body>
    <form action="/login" method="post">
        <h1>Welcome to My Quize App</h1>
        <input type="text" placeholder="Enter your username" name="username"><br><br>
        <input type="password" placeholder="Enter password" name="password"><br><br>
        <input type="submit">
        You have no account? <a href="/signup-form">signup</a>
    </form>
</body>
</html>
