<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Quiz App</title>
    <link href="./styles.css" rel="stylesheet" type="text/css" />
    <script src="./data/<%= query %>.js"></script>
  </head>
  <body>
    <div class="container">
      <h1 class="quiz-title">Quiz Title</h1>
      <p class="correct-count hide">Correct:</p>
      <p class="question hide">Question</p>
      <div class="q-container hide">
        <div class="btn-grid">
          <div>Q1</div>
          <div>Q2</div>
          <div>Q3</div>
          <div>Q4</div>
        </div>
      </div>
      <div class="btn-container">
        <button class="start-btn">Start</button>
        <button class="next-btn hide">Next</button>
      </div>
    </div>
    <script src="./quizRenderer.js"></script>
  </body>
</html>
